<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="filelink_usage_unit">
      <directory>./tests/src/Unit</directory>
    </testsuite>
    <testsuite name="filelink_usage_kernel">
      <directory>./tests/src/Kernel</directory>
    </testsuite>
  </testsuites>
</phpunit>
